#main_footer {
  background-color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  /* Animation */
  transition: height .25s ease-in;

}

.active {
  color: orange;
}


/* Icons */
.nav-icon {
  color: white;
  font-size: 1.2rem;
  height: 100px;
  width: 100px;
  text-align: center;
}

.active {
  color: yellow;
}

a.nav-icon:hover {
  text-decoration: none;
  color: orange;
}

@media only screen and (min-width: 701px) {
  #main_footer {
    height: 0;
    /* Animation */
    transition: height .25s ease-out;
  }

  #main_footer > * {
    display: none;
  }

}
