<!-- ************************************************************ -->
<!-- Start Footer -->
<!-- ************************************************************ -->
<footer id="main_footer" style="">

  <!-- BEGIN Lunch Icon -->
  <a [routerLink]="['/home']"
     class="nav-icon">
    <img src="assets/images/tab_lunch@2x.png" style="margin-bottom: 10px; margin-top: 14px;">
    <h6>lunch</h6>
  </a>
  <!-- END Lunch Icon -->

  <!-- BEGIN Internet Icon -->
  <a [routerLink]="['/restaurants']"
     class="nav-icon">
    <img src="assets/images/tab_internets@2x.png" style="margin-bottom: 10px; margin-top: 14px;">
    <h6>internets</h6>
  </a>
  <!-- END Internet Icon -->
  <!--<a [routerLink]=['/home'] style="color: white; font-size: 1.2rem; height: 100px; width: 100px; border: 1px solid white;">123</a>-->

</footer>

<!-- ************************************************************ -->
<!-- Start Footer -->
<!-- ************************************************************ -->
