<!-- ************************************************************ -->
<!-- Start Footer -->
<!-- ************************************************************ -->
<footer id="main_footer" style="display: flex; align-items: center; justify-content: space-evenly;">

  <a [routerLink]="['/home']" style="color: white; font-size: 1.2rem; height: 100px; width: 100px; border: 1px solid white; text-align: center;">
    <img src="assets/images/tab_lunch@2x.png" style="margin-bottom: 10px; margin-top: 14px;">
    <h6>lunch</h6>
  </a>
  <a [routerLink]="['/restaurants']" style="color: white; font-size: 1.2rem; height: 100px; width: 100px; border: 1px solid white; text-align: center; ">
    <img src="assets/images/tab_internets@2x.png" style="margin-bottom: 10px; margin-top: 14px;">
    <h6>internets</h6>
  </a>
  <!--<a [routerLink]=['/home'] style="color: white; font-size: 1.2rem; height: 100px; width: 100px; border: 1px solid white;">123</a>-->

</footer>

<!-- ************************************************************ -->
<!-- Start Footer -->
<!-- ************************************************************ -->
