<!-- ************************************************************ -->
<!-- Start Header -->
<!-- ************************************************************ -->
<header>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->
  <nav id="main_nav">
    <div class="menu-bar">
      <div class="menu-bar-block"></div>
      <div class="menu-bar-block"></div>
      <div class="menu-bar-block"></div>
    </div>

    <div class="first-nav-item-container-lg" style="display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item nav-item-lg-width"><a [routerLink]="['/restaurants']" routerLinkActive="active">Lunch</a></div>
    </div>

    <div class="nav-item-container-lg"
      style="display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item nav-item-lg-width"><a [routerLink]="['/home']" routerLinkActive="active">Internet</a></div>
    </div>

    <div style="flex: 1; display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item contact-alignment">Contact</div>
    </div>

    <div style="display: flex; align-items: center; font-size: 1.8rem; background-color: white; padding-right:20px; padding-left:10px">
      <div><img style="max-height: 40px; width: auto" src="assets/images/Bottle_Rocket_Logo.jpg"></div>
    </div>
  </nav>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->



</header>

<!-- ************************************************************ -->
<!-- END Header -->
<!-- ************************************************************ -->
