#main_nav {
  display: flex;
  height: 100px;
  background-color: blue;
}


/* Menu bar blocks */
.menu-bar {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: black;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-bar-block {
  height: 4px;
  border-top: 5px solid white;
  width:  60%;
  margin-bottom: 10px;
}
