<!-- ************************************************************ -->
<!-- Start Header -->
<!-- ************************************************************ -->
<header>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->
  <nav id="main_nav">
    <div class="menu-bar">
      <div class="menu-bar-block">s</div>
      <div class="menu-bar-block">z</div>
      <div class="menu-bar-block">nm</div>
    </div>

    <div>
      <div style="flex:1;">Contact us</div>
    </div>

    <div>
      <div style="float: right;">Logo</div>
    </div>
  </nav>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->



</header>

<!-- ************************************************************ -->
<!-- END Header -->
<!-- ************************************************************ -->
