<!-- ************************************************************ -->
<!-- Start Header -->
<!-- ************************************************************ -->
<header>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->
  <nav id="main_nav">
    <div class="menu-bar">
      <div class="menu-bar-block"></div>
      <div class="menu-bar-block"></div>
      <div class="menu-bar-block"></div>
    </div>

    <div style="display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item nav-item-lg-width">Lunch</div>
    </div>

    <div style="display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item nav-item-lg-width">Internet</div>
    </div>

    <div style="flex: 1; display: flex; align-items: center; font-size: 1.8rem; color: white; padding-left: 20px;">
      <div class="nav-item">Contact us</div>
    </div>

    <div>
      <div style="float: right; align-items: center">Logo</div>
    </div>
  </nav>

  <!-- -------------------------------------------------------- -->
  <!-- Navbar -->
  <!-- -------------------------------------------------------- -->



</header>

<!-- ************************************************************ -->
<!-- END Header -->
<!-- ************************************************************ -->
