/* -------------------------------------------- */
/* *** BEGIN General Queries */
/* -------------------------------------------- */
#main_nav {
  display: flex;
  height: 100px;
  background-color: white;
}


/* BEGIN Menu bar blocks */
.menu-bar {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width .25s ease-in;
  padding-top: 10px;
}

.menu-bar-block {
  height: 4px;
  border-top: 5px solid white;
  width:  60%;
  margin-bottom: 10px;
}
/* END Menu bar blocks */


/* BEGIN Nav Items */
.nav-item {
  color: red;
}

.nav-item-container {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: white;
  padding-left: 20px;
}

.nav-item > a {
  color: white;

}

.nav-item > a:hover {
  text-decoration: none !important;
}

.last-nav-item-container {
  flex: 1;
}
/* END Nav Items */

.active {
  transform: scale(2);
  padding-bottom: 2px;
  border-bottom: 2px solid white;
  font-weight: 500;
}

.active:hover {
  transition: scale .25s ease-in;
  transform: scale(1.4);
}


.brand {
  margin-top: -14px;
  background-color: white;
  max-height: 40px;
  width: auto;
}

.brand-container {
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
}
/* -------------------------------------------- */
/* *** END General Queries */
/* -------------------------------------------- */




/* -------------------------------------------- */
/* *** BEGIN Media Queries */
/* -------------------------------------------- */
@media only screen and (max-width: 700px) {
  .nav-item {
    font-size: 1.8rem;
  }

  .nav-item-lg-width {
    display: none;
  }

  .contact-alignment {
    margin-left: -40px;
  }
}

@media only screen and (min-width: 701px) {
  #main_nav {
    transition: background-color .5s ease-in;
    background-color: red;
  }

  .first-nav-item-container-lg {
    margin-left: 40px;
  }

  .nav-item-container {
    margin-left: 40px;
  }


  .menu-bar {
    width: 0;
    transition: width .25s ease-out;
  }

  .menu-bar * {
    display: none;
  }

  .nav-item {
    color: white;
  }
}

/* -------------------------------------------- */
/* *** END Media Queries */
/* -------------------------------------------- */
