#main_nav {
  display: flex;
  height: 100px;
  background-color: white;
}


/* Menu bar blocks */
.menu-bar {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: red;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: width .25s ease-in;
}

.menu-bar-block {
  height: 4px;
  border-top: 5px solid white;
  width:  60%;
  margin-bottom: 10px;
}

.nav-item {
  color: red;
}

.nav-item > a {
  color: white;
}

.nav-item > a:hover {
  text-underline: none;}


@media only screen and (max-width: 700px) {
  .nav-item {
    font-size: 1.8rem;
  }

  .nav-item-lg-width {
    display: none;
  }

  .contact-alignment {
    margin-left: -40px;
  }
}

@media only screen and (min-width: 701px) {
  #main_nav {
    transition: background-color .5s ease-in;
    background-color: red;
  }

  .first-nav-item-container-lg {
    margin-left: 40px;
  }

  .nav-item-container-lg {
    margin-left: 20px;
  }

  .menu-bar {
    width: 0;
    transition: width .25s ease-out;
  }

  .menu-bar * {
    display: none;
  }

  .nav-item {
    color: white;
  }
}
