<!-- ************************************************************ -->
<!-- START Home -->
<!-- ************************************************************ -->
<section id="home_section">


  <!-- ------------------------------------------------------------ -->
  <!-- START Hero
  <!-- ------------------------------------------------------------ -->
  <div class="hero-container" style="background-color: red; min-height: 400px; display: flex; align-items: center; justify-items: center;">
    <p class="hero" style="width: 100%; text-align: center; color: white; font-size: 1.2rem;">we look forward to hearing from you</p>
  </div>
  <!-- ------------------------------------------------------------ -->
  <!-- END Hero
  <!-- ------------------------------------------------------------ -->


  <!-- ------------------------------------------------------------ -->
  <!-- START Body
  <!-- ------------------------------------------------------------ -->
  <div class="content-body text-center">
    <h2>Let us know how we can help</h2>
  </div>

  <!-- ------------------------------------------------------------ -->
  <!-- END Body
  <!-- ------------------------------------------------------------ -->

</section>

<!-- ************************************************************ -->
<!-- END Home -->
<!-- ************************************************************ -->

