<!-- ************************************************************ -->
<!-- START Home -->
<!-- ************************************************************ -->
<section id="home_section">


  <!-- ------------------------------------------------------------ -->
  <!-- START Hero
  <!-- ------------------------------------------------------------ -->
  <div class="hero-container" style="">
    <p class="hero" style="">we look forward to hearing from you</p>
  </div>
  <!-- ------------------------------------------------------------ -->
  <!-- END Hero
  <!-- ------------------------------------------------------------ -->


  <!-- ------------------------------------------------------------ -->
  <!-- START Body
  <!-- ------------------------------------------------------------ -->
  <div class="content-body text-center">
    <h2>Let us know how we can help</h2>

    <p>If you are interested in hiring Bottle Rocket for your
    mobile project, please visit our hire us page.</p>
  </div>

  <!-- ------------------------------------------------------------ -->
  <!-- END Body
  <!-- ------------------------------------------------------------ -->

</section>

<!-- ************************************************************ -->
<!-- END Home -->
<!-- ************************************************************ -->

