<!-- ************************************************************ -->
<!-- START Header -->
<!-- ************************************************************ -->
<section id="home_section">


  <!-- ------------------------------------------------------------ -->
  <!-- START Loading
  <!-- ------------------------------------------------------------ -->
  <div class="hero" style="background-color: red; min-height: 400px; display: flex; align-items: center; justify-items: center;">
    <p style="width: 100%; text-align: center; color: white; font-size: 1.2rem;">we look forward to hearing from you</p>
  </div>
  <!-- ------------------------------------------------------------ -->
  <!-- START Loading
  <!-- ------------------------------------------------------------ -->





</section>

<!-- ************************************************************ -->
<!-- END Header -->
<!-- ************************************************************ -->

