<!-- ************************************************************ -->
<!-- Start App -->
<!-- ************************************************************ -->
<header-component></header-component>

<!--<main [@fadeAnimation]="o.isActivated ? o.activatedRoute : ''">-->
  <main [@routeSlide]="getState(outletRef)" class="route-container">
  <router-outlet #outletRef="outlet"></router-outlet>
</main>

<div class="spacer"></div>

<footer-cmp></footer-cmp>

<!-- ************************************************************ -->
<!-- End App  -->
<!-- ************************************************************ -->

