<!-- ************************************************************ -->
<!-- Start App -->
<!-- ************************************************************ -->
<header-component></header-component>

<div style="background-color: black;">

</div>

<router-outlet></router-outlet>
<section class="router-container"> 

</section>
<footer-cmp></footer-cmp>

<!-- ************************************************************ -->
<!-- End App  -->
<!-- ************************************************************ -->
