#restaurant_detail {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 100px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  max-width: 700px;
}

.header {
  color: white;
  font-size: 16px;
  background-color: green;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.panel-opened {
  width: 100% !important;
  transition: width .25s ease-in;
}

.panel-closed {
  width: 0 !important;
  transition: width .25s ease-in;
}

.ext_close_btn {
  margin-top: 19px;
  height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 400px;
  text-align: center;
  padding-top: 5px;
}


.int_close_btn {
  padding-top: 19px;
  height: 70px;
  width: 70px;
  border-radius: 400px;
}

.restaurant_body {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 1.2rem;
}

.button_container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;

}
