<!-- ************************************************************ -->
<!-- Start Restaurant-Detail -->
<!-- ************************************************************ -->
<section id="restaurant_detail" [className]="isOpen ? 'panel-opened': 'panel-closed'" style="height: 100vh; width: 0; overflow: hidden; position: fixed; top: 100px; z-index: 100; background-color: rgba(255, 255, 255, 1);">
  <div id="map" style="height: 400px; width: auto"></div>

  <div
    *ngIf="restaurantDataLoaded">
    <div
      class="header row"
      style="background-color: green">
      <div class="col-lg-12">
        <h2>{{ restaurantName }}</h2>
        <h3>{{ restaurantCategory }}</h3>
      </div>
    </div>

    <div
      class="restaurant_body row">

      <div class="col-lg-12">
        <div>{{ restaurantTwitter }}</div>
        <div>{{ restaurantAddress1 }}</div>
        <div>{{ restaurantAddress2 }}</div>
        <div>{{ restaurantAddress3 }}</div>
        <div>{{ restaurantPhoneNo }}</div>
      </div>

    </div>

    <div class="ext_close_btn">
      <a (click)="closePanel()"><img class="int_close_btn" src="assets/images/ic_webBack@2x.png"></a>
    </div>
  </div>



</section>

<!-- ************************************************************ -->
<!-- End Restaurant-Detail -->
<!-- ************************************************************ -->
