.main_container > * {
  flex: 1 0 50%;
  min-height: 400px;
}

@media only screen and (max-width: 700px) {
  .main_container > * {
    flex: 1 0 100%;
  }
}

.main_container > *:hover  {
  filter: drop-shadow(5px 5px 4px black);
  border-radius: 10px;
  transition: transform .25s ease-out;
  transform: scale(1.05);
}
